.container > :nth-child(1),
.container > :nth-child(2) {
  display: flex;
  justify-content: center;
}

.title {
  /* font-family: "Poppins", sans-serif; */
  font-weight: bold;
  font-size: 4em;
}

.subtitle {
  /* font-family: "Poppins", sans-serif; */
  /* font-weight: bold; */
  font-size: 1.5em;
}

.cryptoPriceList {
  flex-wrap: nowrap;
}
